@use "sanitize.css";
@use "./prism-okaidia.css";
// @use "./open-props.min.css";

html,
body {
	height: 100%;
}

:root {
	color-scheme: dark;

	--brand-dark: var(--orange-3);
	--text1-dark: var(--gray-1);
	--text2-dark: var(--gray-3);
	--surface1-dark: var(--gray-9);
	--surface2-dark: var(--gray-8);
	--surface3-dark: var(--gray-7);
	--surface4-dark: var(--gray-6);
	--surface-shadow-dark: 200 50% 3%;
	--shadow-strength-dark: 0.8;

	--brand: var(--brand-dark);
	--text1: var(--text1-dark);
	--text2: var(--text2-dark);
	--surface1: var(--surface1-dark);
	--surface2: var(--surface2-dark);
	--surface3: var(--surface3-dark);
	--surface4: var(--surface4-dark);
	--surface-shadow: var(--surface-shadow-dark);
	--shadow-strength: var(--shadow-strength-dark);
}

body {
	font-family: var(--font-sans);

	block-size: 100%;
	accent-color: var(--brand);
	background-color: var(--surface1);
	color: var(--text1);

	&.fixed {
		display: grid;
		grid-template-rows: auto 1fr auto;
		height: 100vh;
	}
}

:where(code, kbd, samp) {
	font-family: var(--font-mono);
	font-size: 0.9rem;
}

:where(h1, h2, h3) {
	font-weight: 600;
}

a {
	color: inherit;
}

p {
	& code {
		display: inline-block;
		padding: 0.2rem 0.4rem;
		border-radius: 0.2rem;
		line-height: 1;
		background: var(--gray-3);
	}
}

blockquote {
	margin: 0;
	padding: 1rem;
	border-left: 5px solid var(--blue-4);
	border-top-right-radius: var(--radius-2);
	border-bottom-right-radius: var(--radius-2);
	font-style: italic;
	background: var(--blue-1);

	& p {
		margin: 0;
	}

	& p + p {
		margin-top: 0.5rem;
	}

	& code {
		background: var(--blue-2);
	}
}

.astro-code {
	padding: 0 1rem;
}

.content {
	max-width: var(--viewport-medium);
	margin: 0 auto;

	& *:first-child {
		margin-top: 0;
	}
}

.wrapper {
	--padding: 1rem;

	margin-bottom: 8rem;
}
