---
import Layout from "$layouts/demo.astro";
import Header from "./components/header.svelte";

const jeffs = [
	{
		src: Astro.resolve("./images/jeff1.jpg"),
		alt: "Jeff YEAH",
		gradient: ["#61bfd9", "#0551b4"],
	},
	{
		src: Astro.resolve("./images/jeff2.jpg"),
		alt: "Jeff again",
		gradient: ["#15AF88", "#6C429A"],
	},
	{
		src: Astro.resolve("./images/jeff3.jpg"),
		alt: "It's all Jeff",
		gradient: ["#EEA031", "#930560"],
	},
];

const demo = {
	title: "Jeffsum",
	permalink: "/demos/houdini-jeffsum/",
};
---

<Layout {...demo}>
	<div class="app">
		<Header {jeffs} client:load />
		<main class="app__content">
			<form class="jeffness">
				<label class="jeffness__label">
					Inject Jeff's work into my veins like
					<input
						class="jeffness__input"
						type="number"
						name="paragraphs"
						value="15"
					/>
					<span>times</span>
				</label>
				<button class="jeffness__btn">Receive the Jeff.</button>
			</form>
		</main>
	</div>
</Layout>

<style lang="scss">
	.app {
		--gradientStart: #61bfd9;
		--gradientEnd: #0551b4;

		position: relative;
		background: white;
	}

	/* App body ------------------------------------------------------------------*/
	.app__content {
		position: relative;
		max-width: var(--maxWidth);
		margin: auto;
	}

	/* The Jeffness ----------------------*/
	.jeffness {
		display: flex;
		flex-direction: column;

		position: relative;
		transform: translate3D(0, -50%, 0);
		margin: 0 15px;
		font-size: 20px;
		text-align: center;
		box-shadow: 0 23px 50px -13px rgba(0, 0, 0, 0.3);
		background: #fff;
		color: initial;
		z-index: 1;

		@media (--mq-l) {
			flex-direction: row;
			align-items: center;

			position: absolute;
			right: 0;
		}
	}

	.jeffness__label,
	.jeffness__btn {
		flex: 1 0 100%;

		line-height: 36px;
	}

	.jeffness__label {
		padding: 0.5em 1em;

		& > span {
			display: inline-block;
		}

		@media (--mq-m) {
			& > span {
				display: inline;
			}
		}

		@media (--mq-l) {
			flex: 0 0 auto;
			padding: 0 2em;
		}
	}

	.jeffness__input {
		transition: --gradientEnd 3s;

		width: 2em;
		border: 1px solid var(--gradientEnd);
		border-radius: 3px;
		text-align: center;
	}

	.jeffness__btn {
		transition: --gradientEnd 3s;

		/* Add 2px to account for border on input */
		padding: calc(0.5em + 2px);
		background: var(--gradientEnd);
		color: #fff;

		@media (--mq-l) {
			flex: 0 0 auto;
			padding: 1em 2em;
		}
	}
</style>
