---
import Layout from "$layouts/demo.astro";
import BlogPostPreview from "$components/post-preview.astro";
import { getFilteredPosts } from "$lib/utils";

interface MarkdownFrontmatter {
	publishDate: number;
}

let title = "oliverturner.cloud";
let description = "Experiments and investigations";
let permalink = Astro.site.toString();

// Data Fetching: List all Markdown posts in the repo.
const allPosts = await Astro.fetchContent("./posts/**/*.md");
const filteredPosts = getFilteredPosts(allPosts, { isPublished: true });
---

<Layout {title} {description} {permalink}>
	<section class="content" aria-label="Blog post list">
		{filteredPosts.map((p) => <BlogPostPreview post={p} />)}
	</section>
</Layout>

<style>
	.content {
		padding: 1rem;
	}
</style>
