<script>
  console.log("Hello World");
</script>

<div class="audio">audio</div>

<style lang="scss">
  .audio {
    background: #f00;

    @media (--mq-medium) {
      background-color: var(--orange-0);
    }

    @media (--mq-large) {
      background-color: var(--yellow-0);
    }

    @media (--mq-xlarge) {
      background-color: var(--green-0);
    }
  }
</style>
