---
import Layout from "$layouts/demo.astro";
import Screen from "./components/screen.astro";
import Menu from "./components/menu.svelte";
import Basket from "./components/basket.svelte";

import { createRequire } from "module";
const require = createRequire(import.meta.url);
const items = require("./menu.json");

const demo = {
	title: "Advent of CSS 2021: Menu",
	permalink: "/demos/advent-css-2021-menu/",
};
---

<Layout {...demo}>
	<div class="app">
		<Screen title="To Go Menu">
			<Menu {items} client:load />
		</Screen>
		<Screen title="Your Basket">
			<Basket {items} client:load />
		</Screen>
	</div>
</Layout>

<style>
	@import "https://unpkg.com/open-props";
	@import "https://unpkg.com/open-props/normalize.min.css";
	@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

	:root {
		color-scheme: light;

		--colour-bg: #eff0f6;
		--colour-border: #d7d6fc;
		--colour-primary: #6b00f5;
		--colour-pattens: #e1f0fe;
		--colour-ghost: #f7f7ff;
		--colour-dusk: #e979b240;
		--colour-ice: #defef0;

		--img-y: 1.4rem;
	}

	body {
		color: var(--text1-light);
	}

	.app {
		--w: 1440px;
		--h: 1024px;

		display: grid;
		grid-auto-flow: column;
		place-content: center;
		gap: 3rem;

		height: 100%;
		max-height: var(--h);
		font-family: "Poppins", sans-serif;
		background-image: url("https://assets.codepen.io/3232/bg__top-right.svg"),
			url("https://assets.codepen.io/3232/bg__btm-right.svg"),
			url("https://assets.codepen.io/3232/bg__left.svg");
		background-position: top right, bottom right, left center;
		background-color: var(--colour-bg);
	}
</style>
