---
import Layout from "$layouts/base.astro";
import Nav from "$components/nav.svelte";
import links from "$pages/demos/links.json";

const { title, description, permalink } = Astro.props;
---

<Layout {title} {description} {permalink} layout="fixed">
	<div class="demo">
		<Nav {links} />
		<div class="demo__content">
			<slot />
		</div>
	</div>
</Layout>

<style lang="scss">
	.demo {
		display: grid;
		grid-template-columns: auto 1fr;

		height: 100%;
	}

	.demo__content {
		min-height: 100%;
		overflow: hidden auto;
	}
</style>
